.navbar {
    padding: 0px;
    box-shadow: 0px 2px 15px 0px #0202024f;
    background-image: linear-gradient(45deg, #ff9400 , #ffb100);
}

.navbar .toggler-sidebar{
    border-radius: 7px;
}

@media screen and (min-width: 1025px) {
    .navbar{
        box-shadow: 0px 2px 15px 0px #00000029;
    }
    .navbar .toggler-sidebar{
        display: none;
        height: 0;
        width: 0;
    }
}