.admin-layout{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.admin-layout .admin-header{
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.admin-layout .admin-content{
   display: flex;
   max-width: 100vw;
   height: 100%;
   flex-direction: column;
   justify-content: space-between;
}

/* .admin-layout {
    height: 100vh;
    min-height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #f9f9f9
}

.admin-layout .admin-sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    max-height: 100vh;
}

.admin-layout .admin-content{
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: auto;
    height: inherit;
}

.admin-layout .admin-content .admin-body{
    grid-row-start: 2;
    grid-row-end: 4;
    min-height: calc(100% - 130px);
}
.admin-layout .admin-content .admin-header{
    grid-row-start: 1;
    grid-row-end: 2;
    height: 60px;
    overflow: hidden;
}
.admin-layout .admin-content .admin-footer{
    grid-row-start: 4;
    grid-row-end: 5;
}

.admin-layout .admin-content .admin-body > div > h3{
    color: gray;
    font-weight: 200;
    margin-bottom: 40px;
}   */